
.container {
  @include outer-container;
}

.info, .diet {
  @include span-columns(3);
}

.result {
  @include span-columns(6);
}

table {
  @include table;

  width: 100%;

  th {
    text-align: left;
  }
}

fieldset {
  text-align: center;
}

.ng-dirty.ng-invalid {
  border-color: red;
}